h1 {
  color: #540804;
  text-align: center;
  font-family: 'Amarante';

}


p {
  color: #540804;
  opacity: 80%;
  margin: auto;
  text-align: center;
  font-family: 'Amarante';
  font-size: 16px;
  width: 60%;
  font-variant: inherit;
  font-variant-caps: petite-caps;
}

hr {
  color: #C75146;
  background-color: #540804;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 3px;
}

body {
  background-color: #ffdab9;
  margin: 0;
}

/* Create two equal columns that floats next to each other */
.column {
  width: 50%;
  padding: 10px;
   margin-left: auto;
  margin-right: auto;
}

.column img {
  margin-top: 12px;
   margin-left: auto;
  margin-right: auto;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

img {
  width: 75%;
  height: auto;
}


/* buttons */

.homeButtons{
  display: inline-block;
  color:#540804;
  text-align: center;
  font-size: 20px;
  font-family: 'Amarante';
  border-radius: 4px;
  background-color:#e9c09a;
  border-color: #C75146;
  border-width: 8px;
  width: 240px;
  height: 210px;
  margin-left: auto;
  margin-right: auto;

}

.homeButtons span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.homeButtons span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.homeButtons:hover span {
  padding-right: 25px;
}

.homeButtons:hover span:after {
  opacity: 1;
  right: 0;
}

/* socials buttons */
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #AD2E24;
  border: none;
  color: rgb(245, 206, 206);
  text-align: center;
  font-size: 14px;
  font-family: 'Amarante';
  padding: 10px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  vertical-align: middle;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}



/* Navigation */
.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px;
  /* Used in this example to enable scrolling */
}

.topnav {
  overflow: hidden;
  background-color: #540804;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}

.topnav a {
  float: left;
  display: block;
  color: rgb(245, 206, 206);
  text-align: center;
  padding: 15px 30px;
  text-decoration: none;
  font-family: 'Amarante';
  font-size: 20px;
}

.topnav a:hover {
  background-color: #81171B;
  color: #e4635a;
}

.topnav a.active {
  background-color: #AD2E24;
  color: rgb(245, 206, 206);
}

.topnav .icon {
  display: none;
}
/* 
bottom Navbar */
.bottomNavbar {
  overflow: hidden;
  background-color: #540804;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 20;
}


@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .boarderDiv {
    margin: auto;
    width: 80%;
    padding: 20px;
    border: 30px outset #C75146;
    border-style: double;
    background-color: #ffdab9;
    text-align: center;
    height: auto;
  }

  h1 {
    color: #540804;
    text-align: center;
    font-family: 'Amarante';
    font-size: auto;
  }

  img {
    width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .imgSmaller{
    width: 70%;
    height: auto;
     margin-left: auto;
  margin-right: auto;
  }

  body {
    background-image: url('https://i.makeagif.com/media/1-26-2016/eT64oD.gif');
  }

  .homeButtons{
    display: inline-block;
    color:#540804;
    text-align: center;
    font-size: 20px;
    font-family: 'Amarante';
    border-radius: 4px;
    background-color:#e9c09a;
    border-color: #C75146;
    border-width: 8px;
    width: 280px;
    height: 250px;
  
  }

  p {
    color: #540804;
    opacity: 80%;
    margin: auto;
    text-align: center;
    font-family: 'Amarante';
    font-size: 23px;
    width: 60%;
    font-variant: inherit;
    font-variant-caps: petite-caps;
  }



}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #ffdab9;
  font-size: 100px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #b39275;
  text-decoration: none;
  cursor: pointer;
}

.imgBorder {
  border: double;
  border-width: 10px;
  border-color: #AD2E24;
  background-color:rgb(232, 200, 157);
   margin-left: auto;
  margin-right: auto;
}

.imgBorder:hover {opacity: 0.7; cursor: pointer}

.videoWidth{
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}